img{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#fotodetalle{
	margin-top: 100px;
}

h3{
	-webkit-text-shadow: 1px 1px  rgba(0,0,0,0.75);
	-moz-text-shadow: 1px 1px rgba(0,0,0,0.75);
	text-shadow: 1px 1px  rgba(0,0,0,0.75);
}