<div class="row">
	<div class="col-8">
		<h3>Datos del equipo</h3>
		<hr>
			<div *ngIf="!modelo">
				<p>Cargando...</p>
			</div>
			<div *ngIf="modelo">
				<ul class="nav nav-tabs" role="tablist">
			  	<li class="nav-item">
			    	<a class="nav-link active" href="#datos" role="tab" data-toggle="tab">Datos</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#manuales" role="tab" data-toggle="tab">Manuales</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#protocolos" role="tab" data-toggle="tab">Protocolos</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#apuntes" role="tab" data-toggle="tab">Apuntes</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#repuestos" role="tab" data-toggle="tab">Repuestos</a>
			  	</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
	  			<div role="tabpanel" class="tab-pane active" id="datos">
	  				<br>
	  				<div class="table-responsive">
		  				<table class="table table-bordered">
							<tr>
								<td><b>Descripción: </b></td>
								<td>{{modelo.tipoequipo}}</td>
							</tr>
							<tr>
								<td><b>Marca: </b></td>
								<td>{{modelo.marca}}</td>
							</tr>
							<tr>
								<td><b>Modelo: </b></td>
								<td>{{modelo.nombre}}</td>
							</tr>
						</table>
					</div>
	  			</div>
		  		<div role="tabpanel" class="tab-pane fade" id="manuales">
					<br>
					<h5>Listado de manuales:</h5>
					<br>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Enlace</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let man of manuales">
									<td>{{man.nombre}}</td>
									<td><a href="http://localhost/apibiblio2/uploads/manuales/{{man.url}}"  target="_blank">Descargar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
		  		</div>
		  		<div role="tabpanel" class="tab-pane fade" id="protocolos">
		  			<br>
		  			<h5>Listado de protocolos disponibles:</h5>
		  			<br>
		  			<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Enlace</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Protocolo MP</td>
									<td><a href="#">Enlace</a></td>
								</tr>
								<tr>
									<td>Seguridad Eléctrica</td>
									<td><a href="#">Enlace</a></td>
								</tr>
							</tbody>
						</table>
					</div>
		  		</div>
		  		<div role="tabpanel" class="tab-pane fade" id="apuntes">
		  			<br>
		  			<h5>Listado de apuntes disponibles:</h5>
		  			<br>
		  			<div class="table-responsive">
		  				<table class="table table-bordered">
							<thead>
								<tr>
									<th>Titulo</th>
									<th>Descripción</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Clave servicio</td>
									<td>La clave es "admin"</td>
								</tr>		
							</tbody>
						</table>
					</div>
		  		</div>
		  		<div role="tabpanel" class="tab-pane fade" id="repuestos">
		  			<br>
		  			<h5>Listado de repuestos:</h5>
		  			<br>
		  			<div class="table-responsive">
		  				<table class="table table-bordered">
							<thead>
								<tr>
									<th>Foto</th>
									<th>Descripción</th>
									<th>Detalle</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Foto</td>
									<td>Sensor de flujo</td>
									<td>Referencia original: MU62537, referencia alternativa: ENM74837</td>
								</tr>		
							</tbody>
						</table>
					</div>
		  		</div>
			</div>
			</div>
		
		<a [routerLink]="['../../manualuser']" class="btn btn-warning">Volver</a>
	</div>

	<div *ngIf="modelo" class="col-4">
		<img src="http://localhost/apibiblio2/uploads/fotos/{{modelo.foto}}" alt="" >
	</div>
</div>