<div class="row">
	<div class="col-8">
		<br>
		<h3>Datos del equipo</h3>
		<hr>
			<div *ngIf="!modelo">
				<p>Cargando...</p>
			</div>
			<div *ngIf="modelo">
				<ul class="nav nav-tabs" role="tablist">
			  	<li class="nav-item">
			    	<a class="nav-link active" href="#datos" role="tab" data-toggle="tab">Datos</a>
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#manuales" role="tab" data-toggle="tab">Manuales <span class="badge badge-pill badge-default" title="Manuales" *ngIf="modelo.numManuales>0">{{modelo.numManuales}}</span></a> 
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#protocolos" role="tab" data-toggle="tab">Protocolos <span class="badge badge-pill badge-success" title="Protocolos" *ngIf="modelo.numProtocolos>0">{{modelo.numProtocolos}}</span></a>  
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#apuntes" role="tab" data-toggle="tab">Apuntes <span class="badge badge-pill badge-info" title="Apuntes" *ngIf="modelo.numTorpedos>0">{{modelo.numTorpedos}}</span></a> 
			  	</li>
			  	<li class="nav-item">
			    	<a class="nav-link" href="#repuestos" role="tab" data-toggle="tab">Repuestos <span class="badge badge-pill badge-danger" title="Repuestos" *ngIf="modelo.numRepuestos>0">{{modelo.numRepuestos}}</span></a> 
			  	</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
	  			<div role="tabpanel" class="tab-pane active" id="datos">
	  				<br>
	  				<div class="table-responsive">
		  				<table class="table table-bordered">
							<tr>
								<td><b>Descripción: </b></td>
								<td>{{modelo.tipoequipo}}</td>
							</tr>
							<tr>
								<td><b>Marca: </b></td>
								<td>{{modelo.marca}}</td>
							</tr>
							<tr>
								<td><b>Modelo: </b></td>
								<td>{{modelo.nombre}}</td>
							</tr>
						</table>
					</div>
	  			</div>
		  		<div role="tabpanel" class="tab-pane fade" id="manuales">
					<br>
					<h5>Listado de manuales:</h5>
					<br>
					<div *ngIf="manuales?.length < 1">
						<p>No hay manuales disponibles aún</p>
					</div>
					<div class="table-responsive" *ngIf="manuales!= 0">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Ubicación manual físico</th>
									<th>Enlace</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let man of manuales">
									<td>{{man.nombre}}</td>
									<td *ngIf="man.ubicacion"><span class="badge badge-pill badge-success" title="ubicacion">{{man.ubicacion}}</span></td>
									<td *ngIf="!man.ubicacion"><span class="badge badge-pill badge-danger" title="Nodisponible">No disponible</span></td>
									<td><a href="http://{{urlFiles}}/apibiblio2/uploads/manuales/{{man.url}}"  target="_blank">Descargar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
		  		</div>
		  		<div role="tabpanel" class="tab-pane fade" id="protocolos">
		  			<br>
		  			<h5>Listado de protocolos disponibles:</h5>
		  			<br>
		  			<div *ngIf="protocolos?.length < 1">
						<p>No hay protocolos disponibles aún</p>
					</div>
					<div class="table-responsive" *ngIf="protocolos!= 0">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Enlace</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let pro of protocolos">
									<td>{{pro.nombre}}</td>
									<td><a href="http://{{urlFiles}}/apibiblio2/uploads/protocolos/{{pro.url}}"  target="_blank">Descargar</a></td>
								</tr>
							</tbody>
						</table>
					</div>

		  		</div>
		  		<div role="tabpanel" class="tab-pane fade" id="apuntes">
		  			<br>
		  			<h5>Listado de apuntes disponibles:</h5>
		  			<br>
		  			<div *ngIf="torpedos?.length < 1">
						<p>No hay apuntes disponibles aún</p>
					</div>
		  			<div class="table-responsive"  *ngIf="torpedos!= 0">
		  				<table class="table table-bordered">
							<thead>
								<tr>
									<th>Titulo</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let tor of torpedos">
									<td>{{tor.titulo}}</td>
									<td>
										<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#TorpedoDataModal"  (click)="mostrarTorpedo(tor.id)">Ver</button>
									</td>
								</tr>		
							</tbody>
						</table>
					</div>
		  		</div>
		  		<div role="tabpanel" class="tab-pane fade" id="repuestos">
		  			<br>
		  			<h5>Listado de repuestos:</h5>
		  			<br>
		  			<div *ngIf="repuestos?.length < 1">
						<p>No hay repuestos disponibles aún</p>
					</div>
		  			<div class="table-responsive" *ngIf="repuestos!= 0">
		  				<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 10%">Foto</th>
									<th style="width: 30%">Descripción</th>
									<th style="width: 60%">Detalle</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let rep of repuestos">
									<td><div *ngIf="rep.foto"><img src="http://{{urlFiles}}/apibiblio2/uploads/foto-repuestos/{{rep.foto}}" class="img-fluid"/></div></td>
									<td>{{rep.nombre}}</td>
									<td>{{rep.descripcion}}</td>
								</tr>		
							</tbody>
						</table>
					</div>
		  		</div>
			</div>
			</div>
		
		<a [routerLink]="['../../manualuser']" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
	</div>

	<div *ngIf="modelo" class="col-4" id="fotodetalle">
		<img class="rounded img-fluid" src="http://{{urlFiles}}/apibiblio2/uploads/fotos/{{modelo.foto}}" alt="" >
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="TorpedoDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">{{torpedo.titulo}}</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
		    <div class="modal-body">
		    	<br>
		    	<div class="col-sm-12">
		    		<strong>Detalle:</strong>
		    	</div>
		    	<div class="col-sm-12">
		    		<p>{{torpedo.descripcion}}</p>
		    		<p *ngIf="torpedo.url"><a href="http://{{urlFiles}}/apibiblio2/uploads/apuntes/{{torpedo.url}}"  target="_blank">Ver archivo disponible</a></p>
		    	</div>
			    
			</div>
   

		
      		<div class="modal-footer">
        		<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
      		</div>
      		
    	</div>
  	</div>
</div>