<h3><strong>LISTADO DE MODELOS:</strong></h3>
<hr/>
<div class="row">
  <div class="col-6">
    <a [routerLink]="['../indexadmin']">Volver</a>
  </div>
  <!-- Button trigger modal -->
  <div class="col-6 text-right">
    <!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModeloModal">
	  Nuevo Modelo
	</button>
  </div>
</div>

<div *ngIf="modelos" class="table-responsive">
  <br>
  <table 
  class="table table-striped table-hover" 
  [mfData]="modelos |modeloFilter : filterQuery" 
  #mf="mfDataTable" 
  [mfRowsOnPage]="rowsOnPage"
  [(mfSortBy)]="sortBy"
  [(mfSortOrder)]="sortOrder"
  >
  <thead>
  <tr>
    <th colspan="2">
      Buscar por nombre: <input class="form-control" [(ngModel)]="filterQuery" />
    </th>
    <th></th><th></th><th></th>
  </tr>
  <tr>
    <th style="width: 10%">
      <mfDefaultSorter by="name">Foto</mfDefaultSorter>
    </th>
    <th style="width: 0%">
      <mfDefaultSorter by="email">Nombre</mfDefaultSorter>
    </th>
    <th style="width: 40%">
      <mfDefaultSorter by="email">Tipo</mfDefaultSorter>
    </th>
    <th style="width: 20%">
      <mfDefaultSorter by="email">Marca</mfDefaultSorter>
    </th>
    <th style="width: 20%">
      <mfDefaultSorter by="city">Opciones</mfDefaultSorter>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mf.data">
    <td>{{item.foto}}</td>
    <td>{{item.nombre}}</td>
    <td>{{item.idTipo}}</td>
    <td>{{item.marca}}</td>
    <td >
      <div class="btn-group">
        <button class="btn btn-info" data-toggle="modal" data-target="#ModeloModal" (click)="modalActualizar(item.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="btn btn-danger"  (click)="deleteModelo(item.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>
</div>
<div *ngIf="!modelos">
  <br>
  <div class="jumbotron text-center">
    
    <h3>No se cuenta con modelos alojados actualmente en la base de datos</h3>
    <h5>Agregue modelos haciendo click en el botón superior.</h5>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ModeloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<form #formModelo="ngForm" (ngSubmit)="onSubmit()">
	      	<div class="modal-header">
	        	<h5 class="modal-title" id="exampleModalLabel">Formulario de Modelo</h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">&times;</span>
	        	</button>
	      	</div>
	      	<div class="modal-body">
	        	<input type="hidden" name="txtId" #txtId="ngModel" [(ngModel)]="modelo.id" />
				
				<div class="col-xs-12 ">
					<label for="txtNombre">Nombre:</label>
				</div>
				<div class="col-xs-12 ">
					<input type="text" class="form-control" name="txtNombre" #txtNombre="ngModel" [(ngModel)]="modelo.nombre" required />
					<span *ngIf="txtNombre.touched && !txtNombre.valid">Ingrese el nombre</span>
				</div>
			
				<div class="col-xs-12 ">
					<label for="txtNombre">Tipo Equipo:</label>
				</div>
				<div class="col-xs-12 ">
					<select class="form-control" [ngModel]="selectedType | json" [ngModelOptions]="{standalone: true}" (ngModelChange)="SeleccionarTipo($event)">
	   					<option *ngFor="let tip of Listtipo" [selected]="tip.id == modelo.idTipo" [value]="tip.id | json" >{{tip.nombre}}</option>
					</select>
				</div>
			
				<div class="col-xs-12 ">
					<label for="txtNombre">Marca:</label>
				</div>
				<div class="col-xs-12 ">
					<select class="form-control" [ngModel]="selectedMark | json" [ngModelOptions]="{standalone: true}" (ngModelChange)="SeleccionarMarca($event)">
	    				<option *ngFor="let mar of Listmarcas" [selected]="mar.id == modelo.idMarca" [value]="mar.id | json" >{{mar.nombre}}</option>
					</select>
				</div>
				
				<div class="col-xs-12 ">
					<label for="txtFoto">Foto:</label>
				</div>
				<div class="col-xs-12 ">
					<input type="file" class="form-control" name="txtFoto" (change)="fileChangeEvent($event)" />
				</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	        	<button type="submit" class="btn btn-primary">Guardar</button>
	      	</div>
	      	</form>
	    </div>
  	</div>
</div>
