<h3>Formulario de Empleados</h3>
<div class="row">
	<form #formEmpleado="ngForm" (ngSubmit)="onSubmit()">
		<input type="hidden" name="txtId" #txtId="ngModel" [(ngModel)]="empleado.id" required>
		<div class="col-xs-12 col-md-4">
			<label for="txtNombre">Nombre:</label>
		</div>
		<div class="col-xs-12 col-md-8">
			<input type="text" class="form-control" name="txtNombre" #txtNombre="ngModel" [(ngModel)]="empleado.nombre" required>
			<span *ngIf="txtNombre.touched && !txtNombre.valid">Ingrese el nombre</span>
		</div>
		<div class="col-xs-12 col-md-4">
			<label for="txtApellido">Apellido:</label>
		</div>
		<div class="col-xs-12 col-md-8">
			<input type="text" class="form-control" name="txtApellido" #txtApellido="ngModel" [(ngModel)]="empleado.apellido" required>
			<span *ngIf="txtApellido.touched && !txtApellido.valid">Ingrese el nombre</span>
		</div>
		<div class="col-xs-12 col-md-4">
			<label for="txtEmail">Email:</label>
		</div>
		<div class="col-xs-12 col-md-8">
			<input type="email" class="form-control" name="txtEmail" #txtEmail="ngModel" [(ngModel)]="empleado.email" required>
			<span *ngIf="txtEmail.touched && !txtEmail.valid">Ingrese el nombre</span>
		</div>
		<div class="col-xs-12 col-md-4">
			<label for="ListTipoAcceso">Tipo Acceso:</label>
		</div>
		<div class="col-xs-12 col-md-8">
			<input type="text" class="form-control" name="ListTipoAcceso" #ListTipoAcceso="ngModel" [(ngModel)]="empleado.acceso" required>
			<select class="form-control" [ngModel]="selectedType | json">
   				<option *ngFor="let tip of Listtipo" [value]="tip.id | json" >{{tip.nombre}}</option>
			</select>
			<span *ngIf="ListTipoAcceso.touched && !ListTipoAcceso.valid">Ingrese el nombre</span>
		</div>
		<div class="col-xs-12 col-md-4">
			<label for="txtUser">Nombre Usuario:</label>
		</div>
		<div class="col-xs-12 col-md-8">
			<input type="text" class="form-control" name="txtUser" #txtUser="ngModel" [(ngModel)]="empleado.user" required>
			<span *ngIf="txtUser.touched && !txtUser.valid">Ingrese el nombre</span>
		</div>
		<div class="col-xs-12 col-md-4">
			<label for="txtPass">Contraseña:</label>
		</div>
		<div class="col-xs-12 col-md-8">
			<input type="text" class="form-control" name="txtPass" #txtPass="ngModel" [(ngModel)]="empleado.pass">
		</div>
		<div class="col-xs-12">
			<button class="btn btn-primary">Guardar</button>
		</div>
	</form>
</div>