<div class="col-lg-6">
	<h3>{{title}}</h3>
	<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
		<p>	
			<label for="correo">Correo Electrónico</label>
			<input class="form-control" type="email" #correo="ngModel" [(ngModel)]="empleado.correo" name="correo" />
		</p>
		<p>	
			<label for="email">Contraseña</label>
			<input class="form-control" #password="ngModel" [(ngModel)]="empleado.pass" type="password" name="password" required />
			<span *ngIf="!password.valid && password.touched">
				El password es obligatorio
			</span>
		</p>
		<button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Entrar</button>
	</form>
</div>
