  <navbar></navbar>
<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div class="row">
        <div class="col-md-3">
            <sidebar></sidebar>
        </div>
        <div class="col-md-9">
            <h1>Biblioteca de Equipos Médicos</h1>

            <hr />

            <div class="jumbotron">
                <h3>Bienvenido a la Biblioteca de Equipos Médicos</h3>
                <p>Esta es una herramienta que busca almacenar y ordenar los manuales e informaciones técnicas existentes para los equipos médicos del Hospital Carlos Van Buren</p>
                <p>Esto lo hago únicamente con el fin de hacer más fácil el trabajo diario de los técnicos de la Unidad.</p>
                
            </div>

    

            
        </div>
    </div>


</div>

