<h4>Buscar por Tipo de Equipo</h4>
	<select class="form-control" [ngModel]="selectedType | json" (ngModelChange)="SeleccionarTipo($event)">
   	<option *ngFor="let tip of Listtipo" [value]="tip.id | json" >{{tip.nombre}}</option>
</select>
<br />
<h4>Buscar por Marca</h4>
<select class="form-control" [ngModel]="selectedMark | json" (ngModelChange)="SeleccionarMarca($event)">
    <option *ngFor="let mar of Listmarca" [value]="mar.id | json" >{{mar.nombre}}</option>
</select>
<br />

<h4>Buscar por Modelo</h4>
	<select class="form-control" [ngModel]="selectedModel | json" (ngModelChange)="SeleccionarModelo($event)">
    <option *ngFor="let mod of Listmodelo" [value]="mod.id | json" >{{mod.nombre}}</option>
</select>

		
			