<h4>Buscar por Tipo de Equipo</h4>
            <select class="form-control" name="listmarca" id="listmarca">
              <option value="1">Monitor signos vitales</option>
              <option value="2">Ecógrafo</option>
              <option value="3">Máquina anestesia</option>
              <option value="4">Otro</option>
            </select>
            <br />
            <h4>Buscar por Marca</h4>
            <select class="form-control" name="listmarca" id="listmarca">
              <option value="1">Siemens</option>
              <option value="2">GE</option>
              <option value="3">Drager</option>
              <option value="4">Otro</option>
            </select>
            <br />
            <h4>Buscar por Modelo</h4>
            <select class="form-control" name="listmarca" id="listmarca">
              <option value="1">Modelo1</option>
              <option value="2">Modelo2</option>
              <option value="3">Modelo3</option>
              <option value="4">Modelo4</option>
            </select>