<div class="col-12">
	<div class="jumbotron text-center">
		<h3>Por favor, escoja la sección que desee ver:</h3>
		<br>
		<div class="btn-group">
			<button class="btn btn-primary" [routerLink]="['../manual']">Manuales</button>
			<button class="btn btn-success" [routerLink]="['../protocolo']">Protocolos</button>
			<button class="btn btn-warning" [routerLink]="['../apuntes']">Apuntes</button>
			<button class="btn btn-info" [routerLink]="['../repuestos']">Repuestos</button>
		</div>
		<br/><hr/>
		<h3>SECCIÓN MANTENCIÓN TABLAS:</h3>
		<br>
		<div class="btn-group">
			<button class="btn btn-primary" [routerLink]="['../marca']">Marcas</button>
			<button class="btn btn-success" [routerLink]="['../modelo']">Modelos</button>
			<button class="btn btn-warning" [routerLink]="['../tipoequipo']">Tipo Equipo</button>
			<button class="btn btn-info" [routerLink]="['../empleado']">Empleado</button>
		</div>
		
	</div>
</div>