/* You can add global styles to this file, and also import other style files */
body{
       
        background-image: url("/assets/img/binding_dark.png");
        background-repeat: repeat-y repeat-x;
      }

.modal-content{
	background-image: url("/assets/img/binding_dark.png");
}
.modal-header{
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	background-image: url("/assets/img/black_denim.png");
}

img{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

h3,h5{
	-webkit-text-shadow: 1px 1px  rgba(0,0,0,0.75);
	-moz-text-shadow: 1px 1px rgba(0,0,0,0.75);
	text-shadow: 1px 1px  rgba(0,0,0,0.75);
}

.btn{
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}
     